* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Tags */
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

section {
  margin: 10px auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

button {
  border-radius: 2px;
  border: none;
}

/* Utilities */
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.bg-salmon {
  background-color: #d4574a;
}

.d-flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.c-white {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.inverse {
  flex-direction: column-reverse;
}

/* Header */
.nav-bar {
  align-items: center;
}

.logo {
  margin-top: 10px;
  max-width: 40%;
}

.nav-list {
  margin: 20px 0;
}

.nav-list-item {
  margin-right: 25px;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.icon-text {
  display: none;
}

/* Search Section */
.search-section {
  background-image: url(../img/search-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-title {
  font-size: 18px;
}

.search-form {
  background: rgba(240, 243, 248, 0.6);
  padding: 14px 5px;
  width: 90%;
  text-align: left;
  font-size: 15px;
  border-radius: 10px;
}

.search-label {
  color: #4b4f55;
}

.search-input {
  border-radius: 2px;
  border: none;
  margin: 5px 0;
}

.search-input,
.search-form button {
  height: 25px;
}

.how-btn {
  background: rgba(240, 243, 248, 0.6);
  color: #4b4f55;
  padding: 10px 5px;
  align-self: start;
  margin: 20px 0 0 50px;
}

/* Steps Section */
.steps-section {
  text-align: center;
  padding: 0 20px;
  max-width: 540px;
}

.steps-title {
  color: #d4574a;
  font-size: 14px;
}

.steps-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.step {
  margin: 30px 0;
}

.step-name {
  font-size: 25px;
}

.step-description {
  display: none;
}

/* Benefits Section */
.benefits-section {
  margin-bottom: 0;
}

.registered,
.no-move,
.multi-platform {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 30px;
}

.registered {
  background-color: #e27f65;
}

.no-move {
  background-color: #99a4a5;
}

.multi-platform {
  background-color: #519bd7;
}

.big-info {
  font-size: 16px;
  margin-bottom: 5px;
}

.small-info {
  font-size: 14px;
  margin-bottom: 5px;
}

.registered-btn,
.no-move-btn {
  padding: 5px 5px;
  background-color: white;
}

.registered-btn {
  color: #e27f65;
}

.no-move-btn {
  color: #99a4a5;
}

.benefit-img {
  width: 45%;
  margin-bottom: 10px;
}

.round img {
  border-radius: 50%;
}

/* Bottom Section */
.bottom-section {
  background-color: black;
  margin: 0;
  padding: 10px 0;
}

.bottom-nav {
  align-items: center;
}

.first-links,
.second-links {
  width: 50%;
  min-width: 194px;
  max-width: 270px;
}

.first-links ul,
.second-links ul {
  width: 100%;
  justify-content: space-between;
}

.bottom-list {
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
}

.bottom-list a {
  display: block;
  color: white;
  font-size: 10px;
  margin: 5px 0;
}

.center-nav {
  border: 1px gray solid;
  border-radius: 50%;
  padding: 5px 7px;
  margin: 5px 0;
}

.contact-info {
  display: none;
}

/* Footer */
.footer {
  background-color: #1f1f1f;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  bottom: 0;
  height: 40px;
}

.social-icons a {
  color: #444;
  margin-right: 5px;
}

.copyright {
  color: #444;
  font-size: 10px;
}

/* Results Page */

/* Form Filter */
.filter {
  background-color: #eee;
  text-align: center;
  margin: 15px 0;
  padding: 5px 10px;
}

.filter-title {
  color: #959290;
  font-size: 15px;
}

.filter-form {
  font-size: 12px;
  color: #484544;
  margin: 5px auto;
  text-align: left;
  width: 50%;
  max-width: 250px;
}

.filter-form label {
  margin: 0;
}

.place-name,
.type-place,
.max-number {
  border: none;
  border-radius: 2px;
}

.filter-form div {
  margin-bottom: 3px;
}

.filter-btns {
  align-self: center;
}

.blue-btn {
  background-color: #457eb4;
}

.yellow-btn {
  background-color: #e6ac5b;
}

.blue-btn,
.yellow-btn {
  padding: 5px 7px;
}

/* Results Section */

.results-container {
  width: 80%;
  margin: 0 auto 10px auto;
}

.results-title {
  color: #6b686d;
  text-align: center;
  margin-bottom: 10px;
}

.result {
  margin-bottom: 7px;
  background-color: #d4574a;
  padding: 5px 12px;
}

.result-name {
  font-size: 18px;
  color: white;
}

.result a {
  color: white;
  display: block;
  text-align: end;
}

/* Details Page */

/* Info Table */
.details-main {
  width: 90%;
  margin: 0 auto;
}

.info-table {
  border: 1px lightgray solid;
  padding: 10px 8px;
}

.detail-name {
  color: #d4574a;
}

.grid-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  margin: 8px 0;
}

.feature {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 3px;
  border: 1px lightgray solid;
}

.feature-value,
.feature-icon {
  color: #457eb4;
}

.info-table button {
  align-self: center;
  margin: 10px 0;
}

.feature-icons {
  justify-content: space-between;
}

.feature-icons span {
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 5px;
  align-items: center;
}

.random-text {
  text-align: justify;
  margin-bottom: 10px;
}

.more-details {
  background-color: #f5f5f5;
  padding: 10px 20px;
  margin-bottom: 25px;
}

.more-details a {
  color: #6b686d;
}

.map-directions-title {
  color: #d4574a;
  text-align: center;
  margin-bottom: 20px;
}
