/* Nav-Bar */
.nav-bar {
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 97px;
  padding: 5px 150px 5px 50px;
  top: 0;
}

.nav-bar a {
  margin: 0;
}

.logo img {
  height: 68px;
  width: 252px;
}

/* Search Section */
.search-section {
  margin-top: 97px;
  padding: 0 20%;
}

.main-title {
  font-size: 25px;
  margin-bottom: 20px;
}

.search-form {
  padding: 24px 20px;
}

.search-label {
  margin-bottom: 8px;
}

.search-input-button-div {
  flex-direction: row;
}

.search-input {
  margin: 0;
  width: 70%;
}

.search-input-button-div button {
  width: 20%;
}

.how-btn {
  align-self: center;
  margin: 20px 20% 0 0;
}

/* Steps section */
.steps-section {
  margin-top: 30px;
  max-width: none;
}

.steps-title {
  font-size: 20px;
}

.steps-container {
  grid-template-columns: 1fr;
}

.step-name i,
.step-name {
  margin-bottom: 10px;
}

.step-description {
  display: inline-block;
}

/* Benefits Section */
.registered,
.no-move,
.multi-platform {
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 60px;
}

.benefit-info {
  align-self: flex-end;
  padding-bottom: 5%;
  text-align: left;
}

.benefit-info p {
  margin-bottom: 15px;
}

.big-info {
  font-size: 20px;
}

.benefit-img {
  margin: 0;
  width: 30%;
}

/* Bottom Section */
.bottom-section {
  padding: 10px 60px;
}

.bottom-nav {
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 10px 0;
}

.first-links,
.second-links {
  width: 50%;
  min-width: unset;
  max-width: none;
}

.first-links ul {
  padding-left: 15px;
  padding-right: 25px;
}

.second-links ul {
  padding-left: 25px;
  padding-right: 15px;
}

.center-nav {
  position: absolute;
  background-color: black;
  padding: 7px 10px;
}

.contact-info {
  display: flex;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-info-container {
  width: 30%;
  text-align: center;
}

.contact-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.subscribe-email {
  justify-content: center;
  flex-wrap: wrap;
}

.subscribe-email input {
  background-color: black;
  border: 1px #444 solid;
  color: #444;
  width: 70%;
}

.subscribe-email button {
  padding: 3px 20px;
  background-color: #444;
}

.contact-text {
  font-size: 12px;
}

.contact-text a {
  color: #d4574a;
}

/* Results Page */

/* Filter Section */
.results-main {
  margin-top: 97px;
}

.filter {
  padding: 15px 10px;
}

.filter-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.filter-form {
  flex-direction: row;
  max-width: none;
  width: 90%;
  justify-content: flex-start;
}

.filter-name,
.filter-type,
.filter-max {
  margin-right: 8px;
}

.filter-btns {
  display: flex;
  align-self: flex-start;
  height: 25px;
}

.yellow-btn {
  min-width: fit-content;
}

/* Details Page */

/* Info Table */
.details-main {
  margin-top: 120px;
}

.feature-icons {
  justify-content: flex-end;
}

.more-details {
  margin: 10px 0 35px 0;
}

.map-directions-title {
  margin-bottom: 30px;
}
